<?xml version="1.0"?>
<robot name="panda">

  <!-- Link panda_link0 -->
  <link name="panda_link0">
    <visual>
      <geometry>
        <mesh filename="package://meshes/visual/link0.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 1.5707963267948966 0" xyz="-0.075 0 0.06"/>
      <geometry>
        <cylinder length="0.03" radius="0.09"/>
      </geometry>
    </collision>
    <!-- <collision>
      <origin rpy="0 0 0" xyz="-0.06 0 0.06"/>
      <geometry>
        <sphere radius="0.09"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="-0.09 0 0.06"/>
      <geometry>
        <sphere radius="0.09"/>
      </geometry>
    </collision> -->
    <inertial>
      <mass value="0.629769"/>
      <inertia
        ixx="0.00315" ixy="8.2904e-07" ixz="0.00015"
        iyy="0.00388" iyz="8.2299e-06" izz="0.004285"/>
    </inertial>
  </link>

  <joint name="panda_joint1" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0"
      soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    <origin rpy="0 0 0" xyz="0 0 0.333"/>
    <parent link="panda_link0"/>
    <child link="panda_link1"/>
    <axis xyz="0 0 1"/>
    <limit effort="87" lower="-2.8973" upper="2.8973" velocity="2.1750"/>
  </joint>

  <!-- Link panda_link1 -->
  <link name="panda_link1">
    <visual>
      <geometry>
        <mesh filename="package://meshes/visual/link1.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 -0.1915"/>
      <geometry>
        <cylinder length="0.2830" radius="0.09"/>
      </geometry>
    </collision>
    <!-- <collision>
      <origin rpy="0 0 0" xyz="0 0 -0.333"/>
      <geometry>
        <sphere radius="0.09"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 -0.05"/>
      <geometry>
        <sphere radius="0.09"/>
      </geometry>
    </collision> -->
    <inertial>
      <mass value="4.970684"/>
      <inertia
        ixx="0.70337" ixy="-0.00013900" ixz="0.0067720"
        iyy="0.70661" iyz="0.019169" izz="0.0091170"/>
    </inertial>
  </link>

  <joint name="panda_joint2" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0"
      soft_lower_limit="-1.7628" soft_upper_limit="1.7628"/>
    <origin rpy="-1.5707963267948966 0 0" xyz="0 0 0"/>
    <parent link="panda_link1"/>
    <child link="panda_link2"/>
    <axis xyz="0 0 1"/>
    <limit effort="87" lower="-1.7628" upper="1.7628" velocity="2.1750"/>
  </joint>

  <!-- Link panda_link2 -->
  <link name="panda_link2">
    <visual>
      <geometry>
        <mesh filename="package://meshes/visual/link2.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.26" radius="0.09"/>
      </geometry>
    </collision>
    <!-- <collision>
      <origin rpy="0 0 0" xyz="0 0 -0.06"/>
      <geometry>
        <sphere radius="0.09"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.06"/>
      <geometry>
        <sphere radius="0.09"/>
      </geometry>
    </collision> -->
    <inertial>
      <mass value="0.646926"/>
      <inertia
        ixx="0.0079620" ixy="-3.9250e-3" ixz="1.0254e-02"
        iyy="2.8110e-02" iyz="7.0400e-04" izz="2.5995e-02"/>
    </inertial>
  </link>

  <joint name="panda_joint3" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0"
      soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    <origin rpy="1.5707963267948966 0 0" xyz="0 -0.316 0"/>
    <parent link="panda_link2"/>
    <child link="panda_link3"/>
    <axis xyz="0 0 1"/>
    <limit effort="87" lower="-2.8973" upper="2.8973" velocity="2.1750"/>
  </joint>

  <!-- Link panda_link3 -->
  <link name="panda_link3">
    <visual>
      <geometry>
        <mesh filename="package://meshes/visual/link3.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 -0.145"/>
      <geometry>
        <cylinder length="0.15" radius="0.09"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="3.228604"/>
      <inertia
        ixx="3.7242e-02" ixy="-4.7610e-03" ixz="-1.1396e-02"
        iyy="3.6155e-02" iyz="-1.2805e-02" izz="1.0830e-02"/>
    </inertial>
  </link>

  <joint name="panda_joint4" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0"
      soft_lower_limit="-3.0718" soft_upper_limit="-0.0698"/>
    <origin rpy="1.5707963267948966 0 0" xyz="0.0825 0 0"/>
    <parent link="panda_link3"/>
    <child link="panda_link4"/>
    <axis xyz="0 0 1"/>
    <limit effort="87" lower="-3.0718" upper="-0.0698" velocity="2.1750"/>
  </joint>

  <!-- Link panda_link4 -->
  <link name="panda_link4">
    <visual>
      <geometry>
        <mesh filename="package://meshes/visual/link4.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.22" radius="0.09"/>
      </geometry>
    </collision>
    <!-- <collision>
      <origin rpy="0 0 0" xyz="0 0 0.06"/>
      <geometry>
        <sphere radius="0.09"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 -0.06"/>
      <geometry>
        <sphere radius="0.09"/>
      </geometry>
    </collision> -->
    <inertial>
      <mass value="3.587895"/>
      <inertia
        ixx="2.5853e-02" ixy="7.7960e-03" ixz="-1.3320e-03"
        iyy="1.9552e-02" iyz="8.6410e-03" izz="2.8323e-02"/>
    </inertial>
  </link>

  <joint name="panda_joint5" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0"
      soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    <origin rpy="-1.5707963267948966 0 0" xyz="-0.0825 0.384 0"/>
    <parent link="panda_link4"/>
    <child link="panda_link5"/>
    <axis xyz="0 0 1"/>
    <limit effort="12" lower="-2.8973" upper="2.8973" velocity="2.6100"/>
  </joint>

  <!-- Link panda_link5 -->
  <link name="panda_link5">
    <visual>
      <geometry>
        <mesh filename="package://meshes/visual/link5.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 -0.26"/>
      <geometry>
        <cylinder length="0.1" radius="0.09"/>
      </geometry>
    </collision>
    <!-- <collision>
      <origin rpy="0 0 0" xyz="0 0 -0.31"/>
      <geometry>
        <sphere radius="0.09"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 -0.21"/>
      <geometry>
        <sphere radius="0.09"/>
      </geometry>
    </collision> -->
    <collision>
      <origin rpy="0 0 0" xyz="0 0.08 -0.13"/>
      <geometry>
        <cylinder length="0.14" radius="0.055"/>
      </geometry>
    </collision>
    <!-- <collision>
      <origin rpy="0 0 0" xyz="0 0.08 -0.06"/>
      <geometry>
        <sphere radius="0.055"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="0 0.08 -0.20"/>
      <geometry>
        <sphere radius="0.055"/>
      </geometry>
    </collision> -->
    <inertial>
      <mass value="1.225946"/>
      <inertia
        ixx="3.5549e-02" ixy="-2.1170e-03" ixz="-4.0370e-03"
        iyy="2.9474e-02" iyz="2.2900e-04" izz="8.6270e-03"/>
    </inertial>
  </link>

  <joint name="panda_joint6" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0"
      soft_lower_limit="-0.0175" soft_upper_limit="3.7525"/>
    <origin rpy="1.5707963267948966 -3.14 0" xyz="0 0 0"/>
    <parent link="panda_link5"/>
    <child link="panda_link6"/>
    <axis xyz="0 0 1"/>
    <limit effort="12" lower="-3.0925" upper="0.6425" velocity="2.6100"/>
  </joint>

  <!-- Link panda_link6 -->
  <link name="panda_link6">
    <visual>
      <geometry>
        <mesh filename="package://meshes/visual/link6.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 -0.03"/>
      <geometry>
        <cylinder length="0.20" radius="0.08"/>
      </geometry>
    </collision>
    <!-- <collision>
      <origin rpy="0 0 0" xyz="0 0 0.01"/>
      <geometry>
        <sphere radius="0.08"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 -0.07"/>
      <geometry>
        <sphere radius="0.08"/>
      </geometry>
    </collision> -->
    <inertial>
      <mass value="1.666555"/>
      <inertia
        ixx="1.9640e-03" ixy="1.0900e-04" ixz="-1.1580e-03"
        iyy="4.3540e-03" iyz="3.4100e-04" izz="5.4330e-03"/>
    </inertial>
  </link>

  <joint name="panda_joint7" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0"
      soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    <origin rpy="1.5707963267948966 0 0" xyz="0.088 0 0"/>
    <parent link="panda_link6"/>
    <child link="panda_link7"/>
    <axis xyz="0 0 1"/>
    <limit effort="12" lower="-2.8973" upper="2.8973" velocity="2.6100"/>
  </joint>

  <!-- Link panda_link7 -->
  <link name="panda_link7">
    <visual>
      <geometry>
        <mesh filename="package://meshes/visual/link7.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 -0.06"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.735522"/>
      <inertia
        ixx="1.2516e-02" ixy="-4.2800e-04" ixz="-1.1960e-03"
        iyy="1.0027e-02" iyz="-7.4100e-04" izz="4.8150e-03"/>
    </inertial>
  </link>

  <joint name="panda_joint9" type="fixed">
    <origin rpy="3.14 -1.57 0" xyz="0 0 0.107"/>
    <parent link="panda_link7"/>
    <child link="plato_base"/>
  </joint>

  <!-- Link plato_base -->
  <link name="plato_base">
    <inertial>
      <origin xyz="0.0722532 0.00270427 0.010833" rpy="0 0 0"/>
      <mass value="1.31606"/>
      <inertia ixx="0.00129229" ixy="0.000160617" ixz="-0.000319333"
               iyy="0.00176073" iyz="4.00397e-05" izz="0.00209588"/>
    </inertial>
    <visual>
      <origin xyz="0.0025 -0.02225 -0.002" rpy="0 1.09083e-17 1.5708"/>
      <geometry>
        <mesh filename="package://meshes/plato/plato_base.stl"/>
      </geometry>
      <material name="plato_base_material">
        <color rgba="0.768627 0.886275 0.952941 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.055 0 0.015" rpy="0 0 0"/>
      <geometry>
        <box size="0.11 0.06 0.075"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="1.57 0 0" xyz="0.11 0 0.026"/>
      <geometry>
        <cylinder length="0.04" radius="0.025"/>
      </geometry>
    </collision>
  </link>

  <joint name="plato_ee_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.175 0.04 -0.07"/>
    <parent link="plato_base"/>
    <child link="plato_ee"/>
  </joint>

  <!-- Link plato_ee -->
  <link name="plato_ee">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-8"/>
      <inertia ixx="1e-8" ixy="0" ixz="0"
               iyy="1e-8" iyz="0" izz="1e-8"/>
    </inertial>
  </link>

  <!-- Finger 0 -->
  <joint name="plato_finger0_mcp" type="revolute">
    <origin xyz="0.0105 0.0385 -0.01585" rpy="1.5708 -3.45548e-15 1.5708"/>
    <parent link="plato_base"/>
    <child link="plato_finger0_mcp"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.349066" upper="1.22173"/>
  </joint>

  <link name="plato_finger0_mcp">
    <inertial>
      <origin xyz="3.46945e-18 -0.035859 0.0209614" rpy="0 0 0"/>
      <mass value="0.161966"/>
      <inertia ixx="5.22095e-05" ixy="1.44924e-30" ixz="1.41047e-28"
               iyy="4.4085e-05" iyz="6.01436e-07" izz="3.67565e-05"/>
    </inertial>
    <visual>
      <origin xyz="0.00493619 -0.0233304 0.0154186" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://meshes/plato/plato_finger0_mcp.stl"/>
      </geometry>
      <material name="plato_finger0_mcp_material">  
        <color rgba="0.866667 0.321569 0.156863 1.0"/>  
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.035 0.015" rpy="0 0 0"/>
      <geometry>
        <box size="0.038 0.03 0.033"/>
      </geometry>
    </collision>
  </link>

  <joint name="plato_finger0_actuator" type="revolute">
    <origin xyz="6.93889e-18 -0.05825 0.03325" rpy="-1.5708 1.5708 0"/>
    <parent link="plato_finger0_mcp"/>
    <child link="plato_finger0_actuator"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-1.5708" upper="1.5708"/>
  </joint>

  <link name="plato_finger0_actuator">
    <inertial>
      <origin xyz="-0.0017003 0.00340035 -0.0215096" rpy="0 0 0"/>
      <mass value="0.242292"/>
      <inertia ixx="5.75624e-05" ixy="2.50857e-05" ixz="-6.38771e-06"
               iyy="0.000176736" iyz="8.46443e-07" izz="0.000165524"/>
    </inertial>
    <visual>
      <origin xyz="0.000135183 0.0010901 -0.0246744" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://meshes/plato/plato_finger0_actuator.stl"/>
      </geometry>
      <material name="plato_finger0_actuator_material">
        <color rgba="0.980392 0.713725 0.00392157 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.008 0.01 -0.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.025 0.04"/>
      </geometry>
    </collision>
  </link>

  <joint name="plato_finger0_joint1" type="revolute">
    <origin xyz="-0.0255 -0.007 -0.024" rpy="1.5708 0 -3.14159"/>
    <parent link="plato_finger0_actuator"/>
    <child link="plato_finger0_link1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-1.0472" upper="1.0472"/>
  </joint>

  <link name="plato_finger0_link1">
    <inertial>
      <origin xyz="0.0323279 0.000101059 -0.00250395" rpy="0 0 0"/>
      <mass value="0.0443042"/>
      <inertia ixx="2.78245e-06" ixy="-6.79228e-08" ixz="4.52659e-09"
               iyy="1.7696e-05" iyz="-9.96552e-11" izz="1.73374e-05"/>
    </inertial>
    <visual>
      <origin xyz="0.0311064 0.000392843 -0.00274209" rpy="-1.5708 0 0"/>
      <geometry>
        <mesh filename="package://meshes/plato/plato_finger0_link1.stl"/>
      </geometry>
      <material name="plato_finger0_link1_material">
        <color rgba="0.231373 0.380392 0.705882 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0311064 0.000392843 -0.00274209" rpy="-1.5708 0 0"/>
      <geometry>
        <mesh filename="package://meshes/plato/plato_finger0_link1.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="plato_finger0_joint2" type="revolute">
    <origin xyz="0.06 0 -0.005" rpy="3.14159 0 0"/>
    <parent link="plato_finger0_link1"/>
    <child link="plato_finger0_link2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-2.0944" upper="0"/>
  </joint>

  <link name="plato_finger0_link2">
    <inertial>
      <origin xyz="0.0332857 0.000814515 -0.00249951" rpy="0 0 0"/>
      <mass value="0.0470234"/>
      <inertia ixx="2.8964e-06" ixy="-2.54234e-07" ixz="7.11065e-11"
               iyy="1.23792e-05" iyz="1.44829e-11" izz="1.15913e-05"/>
    </inertial>
    <visual>
      <origin xyz="0.0220351 0.00892887 -0.00587761" rpy="-1.5708 0 0"/>
      <geometry>
        <mesh filename="package://meshes/plato/plato_finger0_link2.stl"/>
      </geometry>
      <material name="plato_finger0_link2_material">
        <color rgba="0.372549 0.654902 0.239216 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0220351 0.00892887 -0.00587761" rpy="-1.5708 0 0"/>
      <geometry>
        <mesh filename="package://meshes/plato/plato_finger0_link2.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="plato_finger0_jointnail" type="fixed">
    <origin rpy="0 0 0" xyz="0 -0.0005 0"/>
    <parent link="plato_finger0_link2"/>
    <child link="plato_finger0_linknail"/>
  </joint>

  <link name="plato_finger0_linknail">
    <inertial>
      <origin xyz="0.0332857 0.000814515 -0.00249951" rpy="0 0 0"/>
      <mass value="0.000663"/>
      <inertia ixx="2.8964e-06" ixy="-2.54234e-07" ixz="7.11065e-11"
               iyy="1.23792e-05" iyz="1.44829e-11" izz="1.15913e-05"/>
    </inertial>
    <visual>
      <origin xyz="-0.00638726 0.000251139 -0.00249714" rpy="0.262987 1.57063 1.83378"/>
      <geometry>
        <mesh filename="package://meshes/plato/plato_finger0_nail.stl"/>
      </geometry>
      <material name="plato_finger0_nail_material">
        <color rgba="1 0.411765 0.705882 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00638726 0.000251139 -0.00249714" rpy="0.262987 1.57063 1.83378"/>
      <geometry>
        <mesh filename="package://meshes/plato/plato_finger0_nail.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- Finger 1 -->
  <joint name="plato_finger1_joint1" type="revolute">
    <origin xyz="0.1135 0.034 0.026" rpy="1.5708 1.31442e-07 2.22033e-16"/>
    <parent link="plato_base"/>
    <child link="plato_finger1_link1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-1.0472" upper="1.0472"/>
  </joint>

  <link name="plato_finger1_link1">
    <inertial>
      <origin xyz="0.0323279 -0.000101289 -0.00250394" rpy="0 0 0"/>
      <mass value="0.0443041"/>
      <inertia ixx="2.78244e-06" ixy="6.79982e-08" ixz="4.52352e-09"
               iyy="1.7696e-05" iyz="-7.2553e-11" izz="1.73374e-05"/>
    </inertial>
    <visual>
      <origin xyz="0.0311064 -0.000392843 -0.00274209" rpy="1.5708 5.79453e-33 -1.8755e-24"/>
      <geometry>
        <mesh filename="package://meshes/plato/plato_finger1_link1.stl"/>
      </geometry>
      <material name="plato_finger1_link1_material">
        <color rgba="0.231373 0.380392 0.705882 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0311064 -0.000392843 -0.00274209" rpy="1.5708 5.79453e-33 -1.8755e-24"/>
      <geometry>
        <mesh filename="package://meshes/plato/plato_finger1_link1.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="plato_finger1_joint2" type="revolute">
    <origin xyz="0.06 -3.46945e-18 -0.005" rpy="-3.14159 -1.79742e-27 4.44092e-16"/>
    <parent link="plato_finger1_link1"/>
    <child link="plato_finger1_link2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="0" upper="2.0944"/>
  </joint>

  <link name="plato_finger1_link2">
    <inertial>
      <origin xyz="0.0332859 -0.000814594 -0.00249929" rpy="0 0 0"/>
      <mass value="0.0470234"/>
      <inertia ixx="2.89638e-06" ixy="2.54309e-07" ixz="-1.41444e-10"
               iyy="1.23797e-05" iyz="2.06223e-11" izz="1.15917e-05"/>
    </inertial>
    <visual>
      <origin xyz="0.0220351 -0.00892887 -0.00587761" rpy="1.5708 3.22709e-31 1.05662e-23"/>
      <geometry>
        <mesh filename="package://meshes/plato/plato_finger1_link2.stl"/>
      </geometry>
      <material name="plato_finger1_link2_material">
        <color rgba="0.372549 0.654902 0.239216 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0220351 -0.00892887 -0.00587761" rpy="1.5708 3.22709e-31 1.05662e-23"/>
      <geometry>
        <mesh filename="package://meshes/plato/plato_finger1_link2.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="plato_finger1_jointnail" type="fixed">
    <origin rpy="0 0 0" xyz="0 0.0005 0"/>
    <parent link="plato_finger1_link2"/>
    <child link="plato_finger1_linknail"/>
  </joint>

  <link name="plato_finger1_linknail">
    <inertial>
      <origin xyz="0.0332859 -0.000814594 -0.00249929" rpy="0 0 0"/>
      <mass value="0.000663"/>
      <inertia ixx="2.89638e-06" ixy="2.54309e-07" ixz="-1.41444e-10"
               iyy="1.23797e-05" iyz="2.06223e-11" izz="1.15917e-05"/>
    </inertial>
    <visual>
      <origin xyz="-0.00638726 -0.000251139 -0.00249714" rpy="0.262987 -1.57063 1.30781"/>
      <geometry>
        <mesh filename="package://meshes/plato/plato_finger1_nail.stl"/>
      </geometry>
      <material name="plato_finger1_nail_material">
        <color rgba="1 0.411765 0.705882 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00638726 -0.000251139 -0.00249714" rpy="0.262987 -1.57063 1.30781"/>
      <geometry>
        <mesh filename="package://meshes/plato/plato_finger1_nail.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- Finger 2 -->
  <joint name="plato_finger2_joint1" type="revolute">
    <origin xyz="0.1135 -0.034 0.026" rpy="-1.5708 3.03577e-18 5.55112e-17"/>
    <parent link="plato_base"/>
    <child link="plato_finger2_link1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-1.0472" upper="1.0472"/>
  </joint>

  <link name="plato_finger2_link1">
    <inertial>
      <origin xyz="0.0323279 0.000101059 -0.00250395" rpy="0 0 0"/>
      <mass value="0.0443042"/>
      <inertia ixx="2.78245e-06" ixy="-6.79228e-08" ixz="4.52659e-09"
               iyy="1.7696e-05" iyz="-9.96552e-11" izz="1.73374e-05"/>
    </inertial>
    <visual>
      <origin xyz="0.0311064 0.000392843 -0.00274209" rpy="-1.5708 -2.63611e-33 0"/>
      <geometry>
        <mesh filename="package://meshes/plato/plato_finger2_link1.stl"/>
      </geometry>
      <material name="plato_finger2_link1_material">
        <color rgba="0.231373 0.380392 0.705882 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0311064 0.000392843 -0.00274209" rpy="-1.5708 -2.63611e-33 0"/>
      <geometry>
        <mesh filename="package://meshes/plato/plato_finger2_link1.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="plato_finger2_joint2" type="revolute">
    <origin xyz="0.06 -3.46945e-18 1.52656e-16" rpy="-2.77556e-17 3.66583e-27 -4.47125e-16"/>
    <parent link="plato_finger2_link1"/>
    <child link="plato_finger2_link2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="0" upper="2.0944"/>
  </joint>

  <link name="plato_finger2_link2">
    <inertial>
      <origin xyz="0.0332857 -0.000814515 -0.00250049" rpy="0 0 0"/>
      <mass value="0.0470234"/>
      <inertia ixx="2.8964e-06" ixy="2.54234e-07" ixz="-7.11065e-11"
               iyy="1.23792e-05" iyz="1.44829e-11" izz="1.15913e-05"/>
    </inertial>
    <visual>
      <origin xyz="0.0220351 -0.00892887 0.00087761" rpy="1.5708 -3.23118e-31 4.93038e-32"/>
      <geometry>
        <mesh filename="package://meshes/plato/plato_finger2_link2.stl"/>
      </geometry>
      <material name="plato_finger2_link2_material">
        <color rgba="0.372549 0.654902 0.239216 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0220351 -0.00892887 0.00087761" rpy="1.5708 -3.23118e-31 4.93038e-32"/>
      <geometry>
        <mesh filename="package://meshes/plato/plato_finger2_link2.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="plato_finger2_jointnail" type="fixed">
    <origin rpy="0 0 0" xyz="0 0.0005 0"/>
    <parent link="plato_finger2_link2"/>
    <child link="plato_finger2_linknail"/>
  </joint>

  <link name="plato_finger2_linknail">
    <inertial>
      <origin xyz="0.0332857 -0.000814515 -0.00250049" rpy="0 0 0"/>
      <mass value="0.000663"/>
      <inertia ixx="2.8964e-06" ixy="2.54234e-07" ixz="-7.11065e-11"
               iyy="1.23792e-05" iyz="1.44829e-11" izz="1.15913e-05"/>
    </inertial>
    <visual>
      <origin xyz="-0.00638726 -0.000251139 -0.00250286" rpy="-2.87861 -1.57063 -1.83378"/>
      <geometry>
        <mesh filename="package://meshes/plato/plato_finger2_nail.stl"/>
      </geometry>
      <material name="plato_finger2_nail_material">
        <color rgba="1 0.411765 0.705882 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00638726 -0.000251139 -0.00250286" rpy="-2.87861 -1.57063 -1.83378"/>
      <geometry>
        <mesh filename="package://meshes/plato/plato_finger2_nail.stl"/>
      </geometry>
    </collision>
  </link>

</robot>
